#about{
    /* max-width: 85rem; */
    margin: 0 3rem;
    font-size: medium;
    font-weight: 100;
    /* max-width: 45rem; */
    /* position: absolute; */
    /* display: flex; */
    /* height: 10rem */
}

.arrow {
    width: 11rem;
    border-top: 3px solid rgb(254,200,106);
    display: flex;
    margin-top: 0.6rem;
    margin-right: 0.5rem;
}

.abt-div {
    display: flex;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
}

/* MY SKILLS */

.mySkills {
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    margin-top: 2rem;
}

.skillCardAlign {
    position: relative;
    display: flex;
    max-width: 85rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.skillsCard {
    /* background-color: rgb(61,62,66); */
    background: rgb(125 136 181);
    height: 15rem;
    width: 15rem;
    text-align: center;
    border-radius: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.skillsImg {
    height: 8rem;
}

.skillTitle {
    font-size: 1rem;
    margin-top: 2rem;
}
/* 
.skillsCard:hover {
    background-color: rgb(239,191,107);
} */





#ProjectsSec {
    /* background-color: rgb(50, 50, 50); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* max-width: 85rem; */
}

.Portfolio {
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
}

.PortfolioImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* 
.Img{
    height: 20rem;
    width: 25rem;
    margin: 2rem
} */

/* .Img:hover {
    background-color: aquamarine;
    position: relative;
    z-index: 1;
} */
/* 
.ProjectsBtn {
    padding: 0.5rem 2rem;
    background-color: rgb(239,191,107);
    max-width: 10rem;
    border: 3px solid rgb(239,191,107);
    border-radius: 0.5rem;
} */

@media screen and (max-width: 543px) {
    .skillCardAlign {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}


/* Project Hover CSS */
.container {
    position: relative;
    display: flex;
    flex-direction: row;
    /* width: 300px; Adjust this to your desired image width */
  }
  
  .image-container {
    position: relative;
    overflow: hidden;
    margin: 1rem;
  }
  
  .ProImg {
    object-fit: cover;
    height: auto;
    width: 25rem;
    /* border-radius: 33px; */
    /* margin: 2rem; */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease; /* Add a smooth fade-in transition */
  }
  
  .overlay h5 {
    margin: 0;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .overlay button {
    /* padding: 10px 30px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 16px; */
    padding: 0.5rem 2rem;
    background-color: rgb(239,191,107);
    /* max-width: 10rem; */
    border: 3px solid rgb(239,191,107);
    margin-top: 4rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease; /* Add a smooth background color transition */
  }
  
  .container:hover img {
    transform: scale(1.1); /* Zoom in the image on hover */
  }
  
  .container:hover .overlay {
    opacity: 1; /* Show the overlay on hover */
  }
  
  .container:hover .overlay button {
    background-color: #000; /* Change the button background color on hover */
    color: #fff; /* Change the button text color on hover */
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  /* .container {
    display: flex;
  }

  .dateDot {
      display: flex;
      flex-direction: row;
  }

  .leftDate {

  }

  .dot {
    background-color: yellow;
    border-radius: 50%;
    height: 10px;
    width: 10px;
  }

  .border {
    border-right: 2px;
    height: 4rem;
    width: 0.5rem;
    border-color: yellow;
    background-color: yellow;
    position: absolute;
    left: 2.2rem;
    top: 1rem;
  }

  .content {

  } */


  .education-section {
    max-width: 80rem;
    margin: 0 auto;
    margin-top: 4rem;
    /* background-color: rgb(69,67,67); */
  }

  .education-h2 {
    font-size: 3rem;
    margin-left: 1rem;
    
    
  }

  .container-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .designDiv {
    height: 4rem;
    width: 4rem;
    background-color: rgb(254,200,106);
    border-radius: 50%;
    margin: 1rem 2.5rem;
  }

  .line {
    /* background-color: rgb(254,200,106); */
    position: relative;
    border-right: 3px solid rgb(254,200,106);
    height: 4rem;
    left: -4.5rem;
  }

  .content {
    width: 30rem;
  }

  .content h2 {
    font-size: 2rem;
    font-weight: 600;
  }

  .content p{
    font-size: larger;
    font-weight: 100;

  }


  .projectsContainer {
    display: flex;
    height: 28rem;
    justify-content: center;
    align-items: center;
    width: 23rem;
    border-radius: 9px;
    margin: 1rem;
    background-color: rgb(125 136 181);
  }

  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 0;
  }

  .projectsImg {
    height: 10rem;
    object-fit: cover;
    border-radius: 10px;
    width: 19rem;
  }

  .projects-head {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
    text-align: center;
  }

  .projects-para {
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    height: 7rem;
    /* overflow: hidden; */
    max-width: 20rem;
    margin: 0 1rem;
    margin: 0 auto;
  }

  .projects-btn {
    margin-top: 1rem;
    border: 0.2rem solid rgb(254,200,106);
    border-radius: 0.3rem;
    padding: 0.5rem;
    color: rgb(254,200,106);
    cursor: pointer;
  }
