.about{
    max-width: 85rem;
    margin: 0 3rem;
    font-size: medium;
    font-weight: 100;
    /* max-width: 45rem; */
    /* position: absolute; */
    /* display: flex; */
    /* height: 10rem */
}

.arrow {
    width: 11rem;
    border-top: 3px solid rgb(254,200,106);
    display: flex;
    margin-top: 0.6rem;
    margin-right: 0.5rem;
}

.abt-div {
    display: flex;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
}

/* MY SKILLS */

.mySkills {
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    margin-top: 2rem;
}

.skillCardAlign {
    position: relative;
    display: flex;
    max-width: 85rem;
    flex-wrap: wrap;
    margin: 0 auto;
}

.skillsCard {
    background-color: rgb(61,62,66);
    height: 15rem;
    width: 15rem;
    text-align: center;
    border-radius: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.skillsImg {
    height: 8rem;
}

.skillTitle {
    font-size: 1rem;
    margin-top: 2rem;
}

.skillsCard:hover {
    background-color: rgb(239,191,107);
}

@media screen and (max-width: 543px) {
    .skillCardAlign {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}