#mainContainer {
    display: flex;
    /* max-width: 85rem; */
    margin: 3rem auto;
    /* background-color: #61619e; */
    border-top: 1px solid ;
    overflow: hidden;
    flex-wrap: wrap;
}

.aboutSec {
    border-right: 2px solid black;
    /* width: 24rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 5;

}

.abt-small-div {
    margin-top: 2rem;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.abt-small-div div {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.svgsss {
    height: 2rem;
    width: 2rem;
}

.abt-Para {
    font-weight: 100;
}

.logoImg {
    height: 10rem;
    width: 10rem;
    background-color: black;
    border-radius: 50%;
}

.icons {
    height: 2rem;
    width: 2rem;
    margin: 2.5rem 0.5rem;
}

#contact {
    display: flex;
    /* width: 50rem; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactDesc {
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
}

.submitBtn {
    padding: 0.75rem 3.5rem;
    background-color: white;
    border: none;
    margin: 2rem;
    border-radius: 0.5rem;
}
